.login-logo {
	font-size: 28px;
}
.main-header .logo {
	font-size: inherit;
	font-weight: bold;
}

h1, h2, h3, h4 {
	font-weight: bold;
}

hr {
	border-color: #D2D6DE;
}

.table>thead>tr>th {
	white-space: nowrap;
}
.table>tbody>tr>td {
	vertical-align: middle;
}
.table .actions-column {
	text-align: right;
	white-space: nowrap;
}
.table .actions-column .btn {
	padding: 6px 8px;
}

.list-group-item:hover {
	color: #555;
	background-color: #f5f5f5;
}